<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<nav>
 
    <div><a href="/">Home</a></div>
    <div><a href="/works">Works</a></div>
    <div><a href="/gallery">Gallery</a></div>
</nav>
<body>
    <section id ="section1">
        <h1 class ="center">FAMOUS PERSON</h1>
        <div class = "center">
            <div>
                <img src="./images/Famous Non-Existant-Person.jpg" class = "famousPerson" alt="">
            </div>
        </div>
    
        <h2 class = "center">This person great! About this person listed below:</h2>
        <div class = "center listBox">
            <ol class = "listOfGood">
                <li>Made thing many people like and enjoy</li>
                <li>Develop philisophicaly ideolgy many people say is ground break</li>
                <li>Trailblazer for many people for whom trailblaizing was needed</li>
                <li>Admired guradian figure, has many succesful offspring</li>
                <li>Has a cool friend who likes to tabs on her just incase</li>
                <li>Always smiling, never negative and self made role model for all</li>
                <li>Parntner is almsot as equally as famous and admired but only falls a hair short</li>
            </ol>
    
        </div>
      </section>
      <script src="./scripts/index.js"></script>
</body>
</html>