<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <nav>
        <div><a href="/about">About</a></div>
        <div><a href="/works">Works</a></div>
        <div><a href="/gallery">Gallery</a></div>
    </nav>
    <section id ="section1">
        <h1 class ="center"> HELLO! WELCOME TO FAMOUS PERSON'S WEBSITE!!!</h1>
        <div class = "center">
            <div>
                <img src="./images/Famous Non-Existant-Person.jpg" class = "famousPerson" alt="">
            </div>
        </div>
    
        <h2 class = "center">HELLO!</h2>
        <div class = "center listBox">
         <p id ="homeInfoBlurb">
          <strong> Hello! I hope you are doing well today. This Website is for the pictured famous admired person.
            You came to this website to find more about them so take a look at the links at the top left of the page.
            They will have more information about this persons, their works and a photo gallaery of this person being succesful</strong> 
         </p>
    
        </div>


    <script src="./scripts/index.js"></script>
</body>
</html>