<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <nav>
 
        <div><a href="/">Home</a></div>
        <div><a href="/about">About</a></div>
        <div><a href="/gallery">Gallery</a></div>
    </nav>
    <body>
        <section id ="section1">
            <h1 class ="center">WORKS</h1>
            <div class = "center">
                <div>
                    <img src="./images/Famous Non-Existant-Person.jpg" class = "famousPerson" alt="">
                </div>
            </div>
        
            <h2 class = "center">WORKS OF FAMOUS PERSON:</h2>
            <div class = "center listBox">
                <ol class = "listOfGood">
                    <li>Made improved  efficency elevator</li>
                    <li>Made clearglass floor bermuda triangle basketball court</li>
                    <li>Invented real quiddich and real magic</li>
                    <li>Colinized mars and advanced to the industrial revloution on mars. Eons before Elon</li>
                    <li>Made tennis shoes that everyone likes in any colo(u)rway they line</li>
                    <li>Invented anti-gravity</li>
                </ol>
        
            </div>
          </section>

    <script src="./scripts/index.js"></script>
</body>
</html>